@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

/* body {
  background: rgb(211, 83, 236);
} */
.root {
  width: 100wh;
  height: 1200vh;
  background: rgb(110, 187, 206);
}
.grid-img {
  max-width: 700px;
  position: relative;
  margin-top: 3vh;
}
.grid-button {
  width: 230px;
  height: 50px;
  border-radius: 50px;

  position: relative;
  animation-name: img;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.grid-button:hover {
  animation-play-state: paused;
}

.grid-icon:hover {
  width: 30px;
  height: 30px;
  color: rgb(100, 39, 86);
}

.grid-text {
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-family: 'Montserrat', sans-serif !important;

  position: relative;
  animation-name: text;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@media only screen and (max-width: 600px) {
  .get_typography {
    font-size: 9vh !important;
  }
}

@media only screen and (max-width: 468px) {
  .get_typography {
    font-size: 6vh !important;
  }
}
